.project-gallery {
  margin-top: 2em;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  grid-gap: 2em 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.project-gallery-item {
  margin-inline: auto;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  position: relative;
  overflow: hidden;
  background-color: var(--primary-dark);
  width: 10em;
  transition: all 0.2s ease-in;
}

.project-filename{
  font-size: var(--normal-fsize);
  color: var(--light-color);
  font-family: var(--other-fstyle);
  font-weight: 500;
}

.project-gallery-item img {
  width: 7em;
  height: 7em;
  object-fit:contain;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}


#create-new-project-btn {
  font-size: var(--normal-fsize);
  padding: 0.5em 1em;
  transition-delay: 1s;

}

.options {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 2em;
  height: 100%;
  background-color: var(--mixed-color);
  transition: .5s;
  position: absolute;
  top: 0;
  left: -25%;
}

.options button {
  padding-inline: 0.3em;
  border-radius: 0;
  cursor: pointer;
  height: 50%;
  width: 100%;
  color: var(--light-color);
  transition: 0.4s;
}

#edit-btn:hover {
  background-color: rgb(16, 131, 16);
}

#del-btn:hover {
  background-color: rgb(157, 22, 22);
}



@media only screen and (min-width: 900px) {
  .body-container {
    padding: 2em 1em 2em 16em;
  }

  .project-gallery {
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    max-width: 50em;
  }

  .project-gallery-item img  {
    width: 10em;
    height: 10em;
  }

  .options {
    display: flex;
  }

  .project-gallery-item:hover .options {
    left: 0;
  }

  .project-gallery-item:hover {
    transform: translate(-5px, -8px) scale(1.02);
    box-shadow: var(--dark-color) 5px 8px 6px;
  }
}

@media only screen and (min-width: 1400px)  {
  .project-gallery {
    grid-template-columns: repeat(4, 1fr);
    width: 90em;
    grid-gap: 1em 2.5em;
  }

  .project-gallery-item {
    width: 12em;
  }
}

/* ANIMATION */
#page-title {
  transform: translateY(-100%);
  opacity: 0;
  transition: 1s all;
}

#page-title.active {
  transform: translateY(0);
  opacity: 1;
}

button {
  transition-delay: 1000ms;
}

.project-gallery-item , #create-new-project-btn{
  transform: translateY(100%);
  opacity: 0;
  transition: 1s all;
}

.project-gallery-item.active, #create-new-project-btn.active{
  transform: translateY(0);
  opacity: 1;
}



