
.search-header, .desc-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
  gap:1.5em;
}

.options {
  display: flex;
  gap: 0.7em;
  margin-bottom: 2em;
}

.options label {
  font-size: var(--normal-fsize);
}

.options p, .img-content p {
  font-size: var(--medium-fsize);
  color: var(--primary-light);
  font-family: var(--other-fstyle);
  font-weight: 500;
}

.option input, .option label {
  cursor: pointer;
}

.desc-content textarea {
  padding: 1em;
  font-size: var(--normal-size);
  font-family: var(--other-fstyle);
  background-color: var(--between-light-dark);
  color: #4F4F4F;
  border:none;
  outline: none;
  resize: none;
  width: 100%;
  max-width: 40em;

}

#search-desc, #local-storage-btn {
  border-radius: 10px;
  padding: 0.5em 1em;
  font-size: var(--normal-fsize);
}



/*IMG CONTENT*/

.img-content {
  display: flex;
  display:none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
  width: 100%;
}

.img-content p {
  font-size: var(--medium-fsize);
}

.project-search-div {
  width: 100%;
}

.project-search-div h4 {
  margin-bottom: 0.5em;
  font-size: var(--medium-fsize);
  color: #2F2E41;
  font-family: var(--other-fstyle);
  font-weight: 600;
  text-align: center;
}

.project-contents {
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7em, 1fr));
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.project-item{
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-item img {
  width: 7em;
  height: 7em;
  object-fit:contain;
  border: 2px solid #111;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.project-item:hover img{
  box-shadow: 0 0 20px var(--dark-color);
  transform: rotate(10deg);
}

@media only screen and (min-width: 900px) {
  .project-contents {
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    max-width: 50em;
  }

  .project-item img {
    width: 10em;
    height: 10em;
  }
}

@media only screen and (min-width: 1400px) {
  .project-contents {
    grid-template-columns: repeat(5, 1fr);
    width: 60em;
    grid-gap: 1em 2.5em;
  }
}