.content-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.search-info-div, .result-item p {
  font-size: var(--normal-fsize);
  color: var(--dark-color);
  font-family: var(--body-fstyle);
}

.search-info-div {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

#chosen-item-img {
  width: 5em;
  height: 5em;
  object-fit:contain;
  border: 2px solid var(--border-img-color);
}

#search-again-btn {
  padding: 0.5em 1em;
  font-size: var(--small-fsize);
}



.result-items{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  width: 100%;
  grid-gap: 1.5em 0.5em;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  margin: 0 auto;
  width: 10em;
  height: 15em;
  position: relative;
  background-color: var(--primary-dark);
  border-radius: 10px;
  overflow: hidden;
  flex-direction: column;
}

.box img {
  width: 8em;
  height: 8em;
  object-fit: contain;
}

.left_container {
  padding: 1em 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all .4s;

}


.left_container a {
  font-size: var(--tiny-fsize);
  color: var(--light-color);
}

.result-item-name {
  font-size: var(--small-fsize);
  color: var(--mixed-color);
  font-family: var(--other-fstyle);
  font-weight: 300;
  text-align: center;
}



.shop-logo {
  padding: 0.5em;
  position: absolute;
  width: 50px;
  height: 50px;
  background: var(--between-light-dark);
  bottom: 0;
  right: 0;
  border-radius: 10px 0 10px 0;
  color: #486aa8;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all .4s;
  display: none;
}

.shop-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}



@media only screen and (min-width: 900px) {
  .result-item img {
    width: 12em;
    height: 12em;
  }

  .result-item {
    width: 16em;
    height: 21em;
  }

  .result-items {
    grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
    
  }

  .box {
    width: 15em;
    height: 15em;
    transition: 0.3s ease-in-out all;
  }

  .box .product-img {
    width: 12em;
    height: 12em;
  }

  .left_container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #111;
    border-radius: 10px;
    transform: translate(-80%, -80%);
  }

  .box:hover .left_container {
    transform: translate(0,0);
    background: rgba(17, 17, 17, 0.708);
  }

  .box:hover {
    transform: scale(0.95);
    box-shadow: 0 0 25px var(--dark-color);
  }

  .shop-logo {
    display: block;
  }

  .result-item-name {
    font-size: var(--normal-fsize);
    font-weight: 700;
  }

  .left_container a {
    font-size: var(--small-fsize);
  }
}

@media only screen and (min-width: 1520px) {
  .result-items {
    width: 70em;
    grid-gap: 2em 1em;
  }

  
}
