.content-container {
   padding:0;
   padding-bottom: 2em;
}

.body-container {
  padding:0;
  padding-top: 4em;
}

.social-header {
  margin: 0;
  padding: 1em 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--between-light-dark);
  width: 100%;
}

.user-header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  color: var(--dark-color);
}

.user-header-div p {
  cursor: pointer;
  font-size: var(--small-fsize);
}

.user-info-header-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.social-prof-pic {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
}

#share-design-btn {
  padding: 0.5em 1em;
  font-size: var(--small-fsize);
}

.feed {
  padding: 2em 0.5em;
  width: 100%;
}

.posts {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  overflow-y: scroll;
  grid-gap: 2em;
}

.post {
  margin:auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: var(--between-light-dark);
  padding: 1em 0.5em;
  width: 100%;
  max-width: 35em;
}

.post-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#more-info-btn {
  margin-top:-2em;
  font-size: var(--medium-fsize);
  color: var(--dark-color);
}

.post-info {
  display: flex;
  gap:0.5em;
  align-items: center;
  justify-content: center;
}

.post-info-user {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
  justify-content: center;
}

#user-name-post {
  font-size: var(--small-fsize);
  color: var(--primary-light);
  font-family: var(--other-fstyle);
  font-weight: 400;
}

#time-posted {
  font-size: var(--tiny-fsize);
  color:var(--dark-color);
  font-family: var(--other-fstyle);
}


.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#post-desc {
  font-size: var(--normal-fsize);
  color: var(--dark-color);
  height: 100%;
  min-height: 5em;
  width: 100%;
  max-width: 80ch;
}


#posted-img {
  padding: 1em;
  width: 15em;
  height:15em;
  object-fit:contain;
  background-color: var(--posted-img-bg-color);
}

.post-btns {
  display: flex;
  gap: 0.5em;
}

.post-btns button {
  padding: 0.5em 1em;
  font-size: var(--small-fsize);
  display: flex;
  gap: 0.8em;
  justify-content: center;
  align-items: center;  
}

.post-btns i {
  font-size: var(--normal-fsize)
}

.btn-grey {
  background-color: #757575;
}


@media only screen and (min-width: 1028px) {
  .body-container {
    padding:0;
    padding-left: 15em;
  }
}

@media only screen and (max-width: 435px) {
  #posted-img {
    max-width: 15em;
    height: 15em;
  }
}